.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* ######## CROSSWORD GRID ########## */

#wrapper {
  background-repeat: no-repeat;
  background-position: top;
  border: 1px;
  width: 600px;
  height: 400px;
  margin-left: 28.5%;
  padding-bottom: 1%;
  text-align: left;
}

div {
  contentEditable: true;
}

div.center-align {
  margin-left: 42% !important;
  margin-top: 1% !important;
  margin-bottom: 1.5% !important;
}

.right-align {
  text-align: right;
  margin-right: 50px;
}

.right-self {
  align-self: flex-end;
}

.fill-container {
  align-self: stretch;
}

.filled {
  width: 40px;
  height: 40px;
  /*background: rgba(224, 225, 226, 1);*/
  background: black;
  border: 1px;
  padding: 0;
  margin: 0;
  float: left;
}

.empty {
  width: 40px;
  height: 40px;
  background: white;
  border: 1px solid rgba(45, 46, 62, 1);
  border: 1px solid rgba(126, 162, 107, 1);
  border: 1px solid black;
  padding: 0;
  margin: 0;
  float: left;
}

.numbered {
  counter-increment: value;
}

.numbered:nth-of-type(n)::before {
  content: counter(value);
  font-size: 11px;
  position: absolute;
  padding-left: 2px;
}

.letters {
  font-size: 34px;
  color: grey;
  margin: 5px;
  margin-left: 20px;
}

.textbox {
  width: 40px;
  height: 40px;
}

.clue-divs {
  width: 80%;
  max-width: 500px;
  margin-top: -1000px;
  margin-left: 650px;
  padding-bottom: 300px;
}

.ui.grid {
  margin-right: 50rem !important;
}

p.center-words {
  text-align: center;
  font-size: 20px;
  padding-top: 3px;
  padding-left: 3px;
}

.no-bullets {
  list-style: none;
  width: 500px;
}

.clues-grid {
  margin-left: 15%;
}

.make-wider {
  width: 1000px !important;
}

.left-adjustment {
  margin-left: 600px;
}

.make-tighter {
  width: 500px !important;
}

div.center-button {
  margin-top: 4% !important;
  margin-left: 25% !important;
}

.clue-text {
  font-size: 17px !important;
}

div.top-line {
  z-index: -3 !important;
  margin-left: 2% !important;
}

#output{
  width:120px;
  height:25px;
  /*background-color:#CCC;
  border:1px solid #999;*/
}

#center {
  margin-left: 47%;
}
